.navbar-brand{
    font-family:'Courier New', Courier, monospace;
    color:white;
}
.navbar-brand:hover{
    text-decoration: none!important;
    color:white;
}
.navbar{
    background-color: black;
}

.nav-item > a{
    font-family:'Courier New', Courier, monospace;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
}
.nav-item > a:hover{
    background-color: white; 
    opacity: 1;
    color: black;
}

.footer {
    height: 125px;
    width: 100%;
    bottom: -50px;
    position: absolute;
    background-color: black;
    text-align: center;
}

.footer > a{
    color: white;
    font-size: 30px;
    text-decoration: none!important;
    opacity: 0.8;
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 10px;
    
}
.footer > a :hover {
    color: black;
    background-color:rgba(255,255,255,100%);
    opacity: 1;
}
.footer > p{
    color: white;
    font-size: 20;
    font-family:'Courier New', Courier, monospace;
}

